[user]
    name = ryanjohnson
    email = ryan@shakainteractive.com

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore
    autocrlf = false
    pager = less +G

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    ll = shortlog -4
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    track = remote show origin
    s = status -s
    stats = shortlog -sn


[svn]
    rmdir = true

[push]
    default = matching

[format]
    pretty = %C(blue)%h%Creset %C(238)-%Creset%C(yellow)%d%Creset %s %C(240)(%an, %cr)%Creset

[credential]
    helper = osxkeychain
[pull]
    rebase = true
[rerere]
    enabled = true
